# Binários gerados
bin/
obj/

# Arquivos temporários
.vscode/
*.userprefs
*.suo
*.cache
*.log

# Dependências de pacotes NuGet
**/bin/
**/obj/
*.dll
*.exe
*.pdb
*.log
*.json
*.xml
*.sqlite
*.DS_Store

# Rider IDE
.idea/
*.sln.iml
